extends ./common/adminLayout
block content
    div(class="container" )
        div(class="row justify-content-center h-100 col mb-3")
            div(class="col-sm-8 aling-self-center")
                div(class="card" id="data")
                    div(class="card-body text-center")
                        h1 FERRELECTRICOS VALDÉZ
                        h3 Carrera 26 # 9-151 Barrio Valdéz Tabera
                        h3 Sogamoso - Boyacá
                        h3 Cel: 3137144775