extends ./common/adminLayout
block content
    div(class="container" )
        div(class="row justify-content-center h-100 col mb-3")
            div(class="col-sm-8 aling-self-center")
                div(class="card" id="data")
                    div(class="card-body text-center")
                        form(method="post" action="/administrador/deletetool")
                            div(class="row col mb-3")
                                div(class="col")
                                    div(class="form-group")
                                        label(for="Barcodes") Codigo de barras
                                        select(id="Barcodes" name="Barcodes" class="form-select")
                                            option(value="0") Seleccione
                                            each item in tools
                                                option(value=item.BarCode)=item.BarCode+"----->"+item.Description
                            div(class="row col mb-3")
                                div(class="col")
                                    button(type="submit" class="btn btn-dark btn-lg") Eliminar
                                div(class="col")
                                    button(type="reset" class="btn btn-dark btn-lg") Limpiar
