doctype html
html
    head
        title=title
        link(rel="stylesheet", href="css/bootstrap.min.css")
    body(style="background-color:#657D88;")
        nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
            div(class="container-fluid")
                a(class="navbar-brand" href="#") Menu Herramientas
                button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse" id="navbarText")
                    ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                        li(class="nav-item")
                           a(class="nav-link active" aria-current="page" href="#") Añadir herramienta 
                        li(class="nav-item")
                         a(class="nav-link" href="#") Actualizar herramienta
        
                        li(class="nav-item")
                            a(class="nav-link" href="#") Ver inventario
                        li(class="nav-item")
                            a(class="nav-link" href="#") Eliminar herramienta
                        li(class="nav-item")
                            a(class="nav-link" href="/") Salir

                    <span class="navbar-text">
                         Navbar Bienvenido
        block content
        script(type="text/javascript" src="js/bootstrap.min.js")  