doctype html
html
    head
        title=title
        link(rel="stylesheet", href="css/bootstrap.min.css")
    body(style="background-color:#657D88;")
        block content
        script(type="text/javascript" src="js/bootstrap.min.js")  