extends ./common/adminLayout
block content
    div(class="container" )
        div(class="row justify-content-center h-100 col mb-3")
            div(class="col-sm-8 aling-self-center")
                div(class="card" id="data")
                    div(class="card-body text-center")
                        form
                            div(class="row col mb-3")
                                div(class="col")
                                    div(class="form-gruop")
                                        label(for="BarCode") Codigo de barras:  
                                        input(type="number" id="BarCode" class="form-control" placeholder="Codigo de barras")
                                div(class="col")
                                    div(class="form-gruop")
                                        label(for="Quantity") Numero de elementos:  
                                        input(type="number" id="Quantity" class="form-control" placeholder="Numero de elementos")
                            div(class="row col mb-3")
                                div(class="col")
                                    div(class="form-group")
                                        label(for="Brand") Marca:  
                                        input(type="text" id="Brand" class="form-control" placeholder="Marca")
                                div(class="col")
                                    div(class="form-group")
                                        label(for="Price") Precio unitario:  
                                        input(type="number" id="Price" class="form-control" placeholder="Precio unitario")
                            div(class="row col mb-3")
                                div(class="col")
                                    div(class="form-group")
                                        label(for="Description") Descripcion:  
                                        textarea( rows="3" type="text" id="Description" class="form-control" placeholder="Descripcion")
                            div(class="row col mb-3")
                                div(class="col")
                                    button(type="submit" class="btn btn-dark btn-lg") Registrar 
                                div(class="col")
                                    button(type="reset" class="btn btn-dark btn-lg") Limpiar