mixin head(title)

    head   
        meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no",http-equiv="X-UA-Compatible")
	
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

    <!--jquey-->
        link(rel="stylesheet" href="css/jquery/animate.css")
        link(rel="stylesheet" href="css/jquery/owl.carousel.min.css")
        link(rel="stylesheet" href="css/jquery/owl.theme.default.min.css")
        link(rel="stylesheet" href="css/jquery/magnific-popup.css")
        link(rel="stylesheet" href="css/jquery/jquery.timepicker.css")
        link(rel="stylesheet" href="css/jquery/flaticon.css")

    <!--boostrap-->    
        link(rel="stylesheet" href="css/bootstrap/bootstrap-datepicker.css")
        link(rel="stylesheet" href="css/bootstrap/bootstrap.min.css")

    <!--Style-->
        link(rel="stylesheet" href="css/style.css")

        title=title